# Dependencies
node_modules/
.pnp
.pnp.js

# Build Outputs
dist/
dist-ssr/
build/

# Logs & Caches
*.log
logs/
.npm/
.eslintcache
.vite/

# Environment Variables
.env
.env.local
.env.*.local

# OS-Specific Files
.DS_Store
.DS_Store?
Thumbs.db

# Editors & IDEs
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea/

# Miscellaneous
*.swp
*.txt